@charset "UTF-8";

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    border: none;
}

:root {
    --main-background-c: #c0c0c0;
    --main-font: #141414;
    --main-interface: #808080;
    --main-accent: #bcbcbc;

    --main-testing-c: #2aa156;
}

html {
    overscroll-behavior: none;
}
body {
    font-family: 'Space Grotesk', sans-serif;
    overscroll-behavior: none;
    overflow: hidden;
}

p {
    margin: 0;
}

#wrapper {
    touch-action: none;
    -ms-touch-action: none;
}

#wrapper.text-only {
    padding: 5%;
    padding-top: 10%;
    touch-action:initial;
    -ms-touch-action: initial;
}

#button {
    background-color: var(--main-accent);
    width: 100%;
    font-weight: 500;
    font-size: 2em;
    line-height: 1.3;
}

.caption {
    font-size: 3em;
    font-weight: 500;
}
.content {
    font-size: 1.5em;
    font-weight: 400;
}
